<% page.posts.each(function(item){ %>
  <div class="card mb-3 rounded-5 shadow-lg">
    <div class="card-body">

      <div class="row border-bottom">
	
	<div class="col">
	  <i class="rounded-pill badge text-white bg-secondary opacity-25" ><%- date(item.date.now,) %></i>
	</div>
	
	<div class="row">
	  <h4 class="p-2 text-center ">
	    <a class="rounded-pill badge" href="<%- config.root %><%= item.path %>"><%= item.title %></a>
	  </h4>
	</div>

	<div class="row row-cols-auto">
	  <div class="col">
	    <span><i class="bi bi-layers"><%- item.categories %></i></span>
	  </div>
	  <div class="col">
	    
	    
	    <span><i class="bi bi-tag"><%- item.tags %></i></span>
	  </div>
	</div>
	
      </div>
      
      <div class="mb-3">
	<%- item.excerpt %>
      </div>

    </div>
  </div>
<% }) %>
