<div class="">
<% page.posts.each(function(item){ %>
  <div class="card mb-3">
    
    <div class="row g-0">
      
      <div class="card-body">
	
	<h2 class="card-title">
	  <a><%= item.title %></a>
	</h2>

	<div class="row row-cols-auto mb-3">
	  <div class="col">
	    <i class="bi bi-calendar-heart rwd-small-font-color"><%- full_date(item.date, 'MMMM Do YYYY') %></i>
	  </div>

	  <div class="col">
	    <i class="bi bi-vector-pen rwd-small-font-color"><%= item.author %></i>
	  </div>
	</div>
	
	<div class="card-text mb-3">
	  <%- item.excerpt %>
	</div>
	
	<div class="d-md-flex justify-content-md-end">
	  <a href="<%- config.root %><%= item.path %>" class="btn btn-lg btn-outline-secondary"">
	    <i class="bi bi-box-arrow-in-right">&emsp;阅读</i>
	  </a>
	</div>
	
      </div>
      
    </div>
    
  </div>
<% }) %>
</div>
