
<nav class="pagination d-flex justify-content-middle" aria-label="Page navigation">

    <% if (page.prev || page.next) { %>

      <div class="p-3">
	<% if (page.prev){ %>
	  <a href="<%- config.root %><%- page.prev_link %>" class="btn btn-outline-secondary">
	    <%= __('上一页') %>
	  </a>
	<% } else { %>
	  <a class="btn disabled"><%= __('上一页') %></a>
	<% } %>
      </div>

      <div class="p-3">
	<% if (page.next){ %>
	  <a href="<%- config.root %><%- page.next_link %>"
	     class="btn btn-outline-secondary"><%= __('下一页') %>
	  </a>       
	<% } else { %>
	  <a class="btn disabled"><%= __('下一页') %></a>
	<% } %>
      </div>
      
    <% }  %>
  </ul>
</nav>
