	    <!-- Search  -->
            <h3 class="pb-4 mb-4 fst-italic">
	      <div class="form-floating">
		<textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
		<label for="floatingTextarea">
		  <span class="fs-6 opacity-50"><%- config.search %></span>
		</label>
	      </div>
	    </h3>

	    
	    <div class="row text-center">
	      <div class="col-12">
		<img src="<%- url_for('/img/me-03.jpg')%>" class="figure-img img-fluid rounded" alt="...">
	      </div>
	      
	      <div class="col-12 p-3">
		<h5><%- config.title %></h5>
	      </div>
	      
	      <div class="col-12 p-3 border-top">

		<ul class="nav flex-column">
		  <!-- 菜单列表  -->
		  <% for (name in theme.menu) { %>
		    <li class="nav-item btn btn-sm">
		      <a href="<%- url_for(theme.menu[name]) %>"
			 class="nav-link">
			<%= name %>
		      </a>
		    </li>
		  <% } %>
		</ul>
	      </div>

	      <div class="col-12 border-top row-cols-auto p-3">
		<div class="row">
		  <a href="https://binglinli.github.io/" class="col fs-5"><i class="bi bi-globe"></i></a>
		  <a href="https://github.com/binglinli" class="col fs-5"><i class="bi bi-github"></i></a>
		  <a href="<%- url_for('/atom.xml') %>" class="col fs-5"><i class="bi bi-rss"></i></a>
		</div>
	      </div>
	    </div>
