<div class="container">
  <% site.categories.sort('name').each(function(item){ %>
    <div >
      <h4> <%= item.name %></h4>
      <br>
      <% site.posts.sort('date', -1).forEach(function(it){ %>
	<% if (it.categories.length == 1 && it.categories.data[0]._id == item._id){ %>
	  &emsp;&emsp;&emsp;&emsp;<i class="bi bi-arrow-bar-right"></i>
	  <a class="badge opacity-75 shadow-sm"
	     href="<%= config.root %><%= it.path %>" <% if (it.description) { %>
	     title="<%= it.description %>" <% } %>>
	    <%= it.title %>
	  </a><br>
	<% } %>
      <% }); %>
    </div>
  <% }); %>
</div>
