<!DOCTYPE html>
<html lang"="<%- config.language %>">
  <head>

    <%- partial('_partial/meta') %>

    <title><%- config.title %></title>

    <%- partial('_partial/top-link') %>

    <!-- Custom styles for this template -->
    <link href="<%- url_for('/css/style.css')%>" rel="stylesheet">
    <link href="<%- url_for('/js/hljs.me.js')%>" rel="stylesheet">

  </head>

  <body>
    <%- partial('_partial/bg') %>
    <%- partial('_partial/menubar-header') %>

    <div class="col-lg-12 mx-auto p-3">
      
      <div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-6">
	  <%- body %>
	</div>
	<div class="col-md-3">
	  <% if (is_post()) { %>
	    <div class="card w-75 mt-3 mb-3 rounded-5 shadow-lg p-3">
	      <%- toc(page.content) %>
	    </div>
	  <% } %>
	</div>
      </div>

      <%- partial('_partial/footer') %>

    </div>
    <%- partial('_partial/after-link') %>

  </body>
</html>
