<div class="card p-3 py-md-5 rounded-5 shadow-lg mt-3">
  <figure  class="row blockquote">
    <h3><%- page.title %></h3>
    <blockquote class="blockquote-footer fs-6 fw-lighter">
      <span>
	<i class="bi bi-calendar-heart"></i>
	<%- full_date(page.date,'MMMM Do YYYY') %>
      </span>&emsp;
      <span class="rounded-pill badge text-white bg-secondary opacity-25">
	<i class="bi bi-vector-pen"></i>
	<a href="<%- config.root %><%= page.path %>"><%= page.author %></a>
      </span>
    </blockquote>
  </figure>

  <span>
    <%- page.content%>
  </span>
  
</div>
