<div class="p-3 py-md-5">
  
  <div  class="container">
    
    <h4><%- page.title %></h4>

    <div class="row">
      
      <div class="col">
	<i class="bi bi-calendar-heart"></i>
	<%- full_date(page.date,'MMMM Do YYYY') %>
      </div>
      
      <div class="col">
	<i class="bi bi-vector-pen"></i>
	<a href="<%- config.root %><%= page.path %>"><%= page.author %></a>
      </div>
      
    </div>
    
  </div>

  <br>
  <span>
    <%- page.content%>
  </span>
  
</div>
